.about {
  background-color: transparent;
  font-size: 1.1em;
}

.about-me {
  color: #66fcf1 !important;
}

.profile {
  max-width: 18em;
  height: auto;
}

.my-details {
  color: #ccc;
  /* background-color: rgba(255, 255, 255, 0.747); */
}
